### Verify

Akin to other Ops Stages, Verify is propelled to drive forward our [north star metric](https://blog.amplitude.com/product-north-star-metric) of [SMAU](/handbook/product/ops-section-performance-indicators/#verify-verifyci---gmau-smau---unique-users-triggering-pipelines), which is unique users triggering pipelines. 

As we enter into FY22, we need to make it easier for our users to solve complex modeling, manage resources that drive costs, and gain insights from the data asset of the DevOps Lifecycle. We believe that we can empower users and enterprises to employ the most advanced best practices for Continuous Integration for use in application development across Data, ML/AI, Infrastructure as Code, as well as Operations Workflows.

In the next two quarters, to make this happen we will be: 

1. Doubling down on reducing our technical debt and bug backlog via [gitlab&5123](https://gitlab.com/groups/gitlab-org/-/epics/5123) to future-proof GitLab CI's performance and usability.
1. Empowering you to take advantage of new features as they get introduced with a new pipeline editing experience via [gitlab&4540](https://gitlab.com/groups/gitlab-org/-/epics/4540) 
1. Expanding your awareness of code coverage in [gitlab&2838](https://gitlab.com/groups/gitlab-org/-/epics/2838) and CI minutes with Runner Management Dashboards via [gitlab&4015](https://gitlab.com/groups/gitlab-org/-/epics/4015), enabling you to make more informed decisions about your pipelines.

We have also been working on 3-year visions for groups within Verify, such as Continuous Integration's mocks which can be found in [gitlab4793](https://gitlab.com/groups/gitlab-org/-/epics/4793) and Pipeline Authoring's mocks located in [gitlab&4534](https://gitlab.com/groups/gitlab-org/-/epics/4534). 

#### Verify Stage Categories

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing

<%= partial("direction/ops/tiering/verify") %>
