%hr.u-margin-top-0.u-margin-bottom-0
.row.topic-body
  .col
    - if topic_child.cover_image != nil
      - cover_image = topic_child.cover_image
      = image_tag "#{cover_image}", class: "hero-image u-margin-top-96", alt: topic_child.title
.row.topic-body.topic-main-body.u-margin-top-md
  %h2
    = topic_child.body_title 
  .col
    = kramdown(topic_child.body)
